@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@200&display=swap");

/*-- variables --*/
:root {
  --space: 150px;
  --padding: 20px;
  --color-title: hsl(233, 26%, 24%);
  --color-parraf: hsl(233, 8%, 62%);
  --hundred-percent: 100%;
}

/*-- Styles --*/
html {
  font-family: "Public Sans", sans-serif;
}
body {
  font-size: 18px;
  margin: 0px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: var(--space);
  padding-right: var(--space);
}

.navbar {
  z-index: 1033;
  position: fixed;
  background: white;
  width: var(--hundred-percent);
  max-height: (var(--hundred-percent));
}
.menu a {
  text-decoration: none;
  color: var(--color-parraf) ;
  margin: 0 10px;
}

#toggle {
  display: none;
}
label {
  display: none;
}

.container {
  padding-left: var(--space);
  background-color: hsl(0, 0%, 98%);
}

.middle_section,
.last_section {
  padding: var(--space);
}
.last_section {
  background-color: hsl(0, 0%, 98%);
}

.content {
  text-align: left;
  display: flex;
}

.articles {
  display: flex;
}

.article_1 {
  width: 25%;
  height: auto;
  padding-right: var(--padding);
}
.article_2 {
  width: 25%;
  height: auto;
  padding-right: var(--padding);
}
.article_3 {
  width: 25%;
  height: auto;
  padding-right: var(--padding);
}
.article_4 {
  width: 25%;
  height: auto;
}

.footer {
  background: hsl(233, 26%, 24%);
  padding: var(--padding) var(--space) var(--padding) var(--space);
}
.footer_options a {
  list-style: none;
  display: block;
  text-decoration: none;
  padding-bottom: 10px;
  color: hsl(0, 0%, 98%);
}

.social_medias {
  display: flex;
}
.img_medias {
  padding-right: 10px;
}

.social_medias li {
  padding-right: 10px;
  list-style: none;
}

.img {
  max-width: var(--hundred-percent);
  height: 250px;
  object-fit: cover;
}

.intro_desktop {
  object-fit: cover;
  z-index: 1;
  width: 152%;
  position: relative;
  left: -11%;
  top: -6%;
}

.intro_mockup {
  object-fit: cover;
  z-index: 2;
  position: relative;
  bottom: 152%;
  left: 8%;
}

.logo_white {
  padding-top: var(--padding);
  padding-bottom: 50px;
}

h1 {
  color: var(--color-title);
}

p {
  color: var(--color-parraf);
  padding-right: var(--padding);
}
section a {
  text-decoration: none;
  color: black;
}

.button {
  background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  padding: 10px var(--padding) 10px var(--padding);
  text-decoration: none;
  color: hsl(0, 0%, 98%);
  border: none;
  border-radius: var(--padding);
  font-weight: bold;
}
.footer_button {
  padding-top: var(--padding);
  text-align: right;
}

section a:hover {
  color: hsl(136, 65%, 51%);
}

.social_medias a:hover {
  opacity: 0.3;
}
.articles a:hover {
  opacity: 0.3;
}

.content a:hover {
  opacity: 0.3;
}
.footer_options a:hover {
  color: hsl(192, 70%, 51%);
}
.menu_mobile {
  border-radius: 20px;
  max-width: 100%;
  align-content: center;
  padding: 20px;
  background-color: white;
  margin: 50px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.menu_mobile a {
  text-decoration: none;
  color: var(--color-parraf);
  display: block;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
