@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@200&display=swap");

/*-- variables --*/
:root {
  --space: 150px;
  --padding: 20px;
  --color-title: hsl(233, 26%, 24%);
  --color-parraf: hsl(233, 8%, 62%);
}

/*-- Styles --*/
html {
  font-family: "Public Sans", sans-serif;
}
body {
  font-size: 18px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: var(--space);
  padding-right: var(--space);
  color: var(--color-parraf);
}

nav ul {
  display: flex;
}

nav li {
  padding-right: var(--padding);
  list-style: none;
}

.main_section {
  padding: var(--space);
  background-color: hsl(0, 0%, 98%);
}

.middle_section {
  padding: var(--space);
}

.last_section {
  padding: var(--space);
}

.content {
  text-align: left;
  display: flex;
}

.articles {
  display: flex;
}

.article_1 {
  width: 25%;
  height: auto;
  padding-right: var(--padding);
}
.article_2 {
  width: 25%;
  height: auto;
  padding-right: var(--padding);
}
.article_3 {
  width: 25%;
  height: auto;
  padding-right: var(--padding);
}
.article_4 {
  width: 25%;
  height: auto;
}

.img {
  max-width: 100%;
  height: 250px;
  object-fit: cover;
}

h1 {
  color: var(--color-title);
}

p {
  color: var(--color-parraf);
  padding-right: var(--padding);
}

.button {
  background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  padding: 10px var(--padding) 10px var(--padding);
  text-decoration: none;
  color: hsl(0, 0%, 98%);
  border: none;
  border-radius: var(--padding);
  font-weight: bold;
}
