.middle_section {
  background-color: rgb(244, 245, 247);
  padding: var(--space);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 65px;
}

.middle_section_header {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 60%;
}

@media (max-width: 900px) {
  .middle_section_header {
    text-align: center;
    width: 100%;
  }

  .middle_section_content {
    text-align: center;
    flex-direction: column;
  }
}
