.navbar_container {
  z-index: 3;
  background: var(--White);
}

@media only screen and (max-width: 900px) {
  .navbar_container {
    background-color: transparent;
    position: absolute;
    width: 100%;
  }
}
