.title {
  color: var(--Color_Title);
  font-size: var(--Title);
}

.navlink {
  font-size: var(--NavLink);
  color: var(--Color_P);
}

.subtitle {
  font-size: var(--Subtitle);
  color: var(--Color_Title);
}

.description {
  color: var(--Color_P);
}

.author {
  font-size: var(--Author);
  color: var(--Color_P);
}
