@media (max-width: 900px) {
  html {
    padding: 0px;
    margin: 0px;
  }

  body {
    padding: 0px;
  }

  label {
    display: inherit;
  }

  h1,
  h3,
  p,
  ul {
    padding: 0px;
  }

  

  .articles {
    flex-direction: column;
  }

  .footer .row {
    flex-direction: column;
  }

  .col_footer {
    width: inherit;
    height: inherit;
  }

  .img {
    object-fit: fill;
    height: auto;
    width: 100%;
  }

  .footer,
  .col_footer_last {
    padding: 0px;
    text-align: center;
    height:100%
  }

  .col_footer_last {
    padding-top: 12px;
    align-items: center;
  }

  .social_medias {
    padding-bottom: 20px;
    justify-content: center;
    gap: 25px;
  }

  .footer_options a {
    padding: 10px 0;
    margin:0px;
  }
  
  .col_footer_last p {
    margin: 0;
    padding: 35px 0;
  }
  
  .col_footer_start {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 20vh;
    align-items: center;
    margin-bottom: -3vh;
    margin-right:0px;
    margin-top:0px;
    padding-top:5px;
  }
}


