@media (max-width: 900px) {
  html {
    padding: 0px;
    margin: 0px;
  }

  body {
    padding: 0px;
  }

  .button {
    padding: 15px 40px 15px 40px;
    font-size: large;
    margin-top: 20px;
  }

  .content {
    text-align: center;
  }

  .content,
  .articles {
    flex-direction: column;
  }

  .content section {
    padding-top: 20px;
  }

  .article_1,
  .article_2,
  .article_3,
  .article_4 {
    width: 100%;
    padding: 20px 0px 20px 0px;
  }

  .middle_section,
  .last_section {
    padding: 50px 25px 50px 25px;
    margin-top: 100px;
  }

  .middle_section {
    text-align: center;
  }

  .container {
    padding: 0px;
  }

  .container .row {
    display: inherit;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .footer .row {
    display: inherit;
    justify-content: center;
  }

  nav {
    padding: 20px;
    display: none;
  }

  .navbar {
    background-color: transparent;
  }

  .menu {
    display: none;
  }

  label {
    display: inherit;
  }

  .col_1 {
    padding: 0 25px 0 25px;
    width: inherit;
    text-align: center;
  }

  .col_2 {
    padding: 0;
  }

  .col_1,
  .col_2 {
    align-self: center;
    width: auto;
  }

  .col_footer {
    width: inherit;
    height: inherit;
  }

  .intro_mockup {
    width: 100%;
    object-position: 50% 100%;
    height: 500px;
    position: sticky;
  }

  .intro_desktop {
    height: 500px;
    position: sticky;
    width: 100%;
    object-position: 25vw 0vh;
    object-fit:cover;
  }

  .logo_white {
    padding: 45px 0;
  }

  .img {
    object-fit: fill;
    height: auto;
    width: 100%;
  }

  .footer,
  .footer_button {
    padding: 0px;
    text-align: center;
  }

  .social_medias {
    display: flex;
    padding-bottom: 20px;
    justify-content: center;
    gap: 13px;
  }

  h1,
  h3,
  p,
  ul {
    padding: 0px;
  }
}
.footer_options ul{
  margin:0;
}

.footer_options a{
  padding:10px 0;
}

.footer_button p{
  margin:0;
  padding:35px 0;
}