@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

/*-- variables --*/
:root {
  --space: 150px;
  --padding: 20px;
  --color-title: hsl(233, 26%, 24%);
  --color-parraf: hsl(233, 8%, 62%);
  --hundred-percent: 100%;
}

/*-- Styles --*/
html {
  font-family: "Public Sans", sans-serif;
}

body {
  font-size: 18px;
  margin: 0px;
}



<!--header-->
.button {
  background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  padding: 12.5px 30px 12.5px 30px;
  text-decoration: none;
  color: hsl(0, 0%, 98%);
  border: none;
  border-radius: 25px;
  font-weight: bold;
}

label {
  display: none;
}

.row {
  display: flex;
}

.col_1 {
  width: 40vw;
  padding-top: 150px;
}
.col_2 {
  width: 60vw;
  height: 500px;
}
.col_footer {
  width: 25%;
  height: 159px;
}


.header {
  padding-left: var(--space);
  background-color: rgb(250, 250, 250);
  box-sizing: border-box;
}

.middle_section,
.last_section {
  padding: 75px var(--space);
  box-sizing: border-box;
}

section{
  width:100%;
}

.middle_section {
  background-color: rgb(244, 245, 247);
}

.last_section {
  background-color: rgb(250, 250, 250);
}

.content {
  text-align: left;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding-top: 50px;
}

.articles {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  border-radius: 5px;
}

.articles h6,
.articles h3,
.articles p {
  padding: 0 35px 0px 35px;
}

.article {
  width: 100%;
  height: auto;
  background-color: rgb(255, 255, 255);
}

.footer {
  background: hsl(233, 26%, 24%);
  padding: 35px var(--space) var(--padding) var(--space);
  box-sizing: border-box;
}
.footer_options a {
  list-style: none;
  display: block;
  text-decoration: none;
  padding-bottom: 10px;
  color: hsl(0, 0%, 98%);
}

.social_medias {
  display: flex;
  justify-content: left;
    gap: 12.5px;
}


.social_medias li {
  padding-right: 10px;
  list-style: none;
}

.img {
  max-width: var(--hundred-percent);
  height: 250px;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.intro_desktop {
  object-fit: cover;
  z-index: 1;
  width: 100%;
  position: sticky;
  height: 750px;
  object-position: 5vw -15vh;
}

.intro_mockup {
  object-fit: contain;
  z-index: 2;
  position: sticky;
  bottom: 170%;
  height: 750px;
  width: 100%;
  object-position: 17.5vw -15vh;
}

.logo_white {
  padding-top: 12px;
  padding-bottom: 50px;
}

h1 {
  color: var(--color-title);
}

p {
  color: var(--color-parraf);
}
section a {
  text-decoration: none;
  color: black;
}


.footer_button {
  padding-top: 12px;
  text-align: right;
}

section a:hover {
  color: hsl(136, 65%, 51%);
}

.social_medias a:hover {
  opacity: 0.3;
}

.articles a:hover {
  opacity: 0.3;
}

.content a:hover {
  opacity: 0.3;
}

.footer_options a:hover {
  color: hsl(192, 70%, 51%);
}

.footer_options ul{
  padding-left: 0;
  margin:0;
}