@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

/*-- variables --*/
:root {
  --space: 10vw;
  --padding: 20px;
  --color-title: hsl(233, 26%, 24%);
  --color-parraf: hsl(233, 8%, 62%);
  --hundred-percent: 100%;
}


h1 {
  color: var(--color-title);
  font-size: 3rem;
  font-weight: 400;
}

h3 {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--color-title);
}

h6 {
  font-size: 0.75rem;
  font-weight: 400;
  color: var(--color-parraf);
}

p {
  color: var(--color-parraf);
}

.invite_button {
  background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  padding: 12.5px 30px 12.5px 30px;
  text-decoration: none;
  color: hsl(0, 0%, 98%);
  border: none;
  border-radius: 25px;
  font-weight: bold;
}
.last_section {
  background-color: rgb(250, 250, 250);
  padding: 75px var(--space);
  box-sizing: border-box;
}
.articles {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  border-radius: 5px;
}

.articles h6,
.articles h3,
.articles p {
  padding: 0 35px 0px 35px;
}

.article {
  width: 100%;
  height: auto;
  background-color: rgb(255, 255, 255);
}

.footer {
  background: hsl(233, 26%, 24%);
  padding: 35px var(--space);
  box-sizing: border-box;
}
.footer_options a {
  list-style: none;
  display: block;
  text-decoration: none;
  padding-bottom: 10px;
  color: hsl(0, 0%, 98%);
  margin-left: 10px;
}

.social_medias {
  display: flex;
  justify-content: left;
  gap: 12.5px;
}

.social_medias li {
  padding-right: 10px;
  list-style: none;
}

.img {
  max-width: var(--hundred-percent);
  height: 250px;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.col_footer_last {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-end;
  height: 11vh;
  text-align: right;
  
}

.row {
  display: flex;
  justify-content: space-between;
}

.col_footer_start {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 14vh;
  align-items: flex-start;
  margin-top: -2vh;
  margin-right: 10px;
}
