@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

body {
  font-family: "Public Sans", sans-serif;
}

.mobile-container {
  min-width: 375px;
  margin: auto;
  height: auto;
  display:none;
}

.topnav {
  padding: 10px;
  overflow: hidden;
  background-color: white;
  position: relative;
}

.navigation > a {
  display: block;
  text-align: center;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
}

.navigation {
  border-radius: 10px;
  background-color: white;
  margin: 22.5px;
  padding: 15px 0px;
  -webkit-box-shadow: 0px 22.5px 22.5px 22.5px rgba(0,0,0,0.3);
-moz-box-shadow: 0px 22.5px 22.5px 22.5px rgba(0,0,0,0.3);
box-shadow: 0px 22.5px 22.5px 22.5px rgba(0,0,0,0.3);
}

.icon {
  background: white;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

#open-menu-icon{
  padding: 28px 16px;
}

#close-menu-icon{
  padding: 24px 18px;
}

.logo {
  right: 0;
  top: 0;
  background-color: white;
  color: black;
  padding: 14px 16px;
}

@media only screen and (max-width: 900px){
  .mobile-container {
    display:initial;
  }
}