<!--navbar-- > .navbar {
  z-index: 1033;
  position: fixed;
  background: white;
  width: var(--hundred-percent);
  max-height: (var(--hundred-percent));
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: var(--space);
  padding-right: var(--space);
  padding-top: 20px;
  padding-bottom: 20px;
}

.easypageimages {
  padding-top: 7.5px;
}

#toggle {
  display: none;
}

.menu {
  display: flex;
  gap: 20px;
  margin: 0px 20px;
}

.menu a {
  text-decoration: none;
  color: var(--color-parraf);
}

.button {
  background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  padding: 12.5px 30px 12.5px 30px;
  text-decoration: none;
  color: hsl(0, 0%, 98%);
  border: none;
  border-radius: 25px;
  font-weight: bold;
}

@media only screen and (max-width: 900px) {
  .navbar {
    background-color: transparent;
  }

  nav {
    padding: 20px;
    display: none;
  }

  .menu {
    display: none;
  }

  .button {
    padding: 15px 40px 15px 40px;
    font-size: large;
    margin-top: 20px;
  }
}
