.navbar_container {
  position: absolute;
  z-index: 3;
  background: var(--White);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px var(--space);
}

.navbar_logo_container {
  display: flex;
}

.navbar_logo {
  object-fit: contain;
}

.navbar_icon {
  display: none;
}

.navbar_menu {
  display: flex;
  gap: 30px;
  margin: 0px 20px;
}

.navbar_menu a {
  text-decoration: none;
  color: var(--color-parraf);
}

@media only screen and (max-width: 900px) {
  .navbar_container {
    background-color: transparent;
  }

  .navbar {
    padding: 0 25px;
    flex-direction: column;
  }

  .navbar_logo_container {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 25px;
    margin-bottom: 25px;
    background-color: var(--White);
  }

  .navbar_icon {
    display: initial;
  }

  .navbar_menu_container {
    display: none;
  }

  .navbar_menu {
    flex-direction: column;
    border-radius: 10px;
    width: 100%;
    background-color: var(--White);
    padding: 15px 0px;
    -webkit-box-shadow: 0px 22.5px 22.5px 22.5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 22.5px 22.5px 22.5px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 22.5px 22.5px 22.5px rgba(0, 0, 0, 0.3);
  }

  .navbar_menu > a {
    display: block;
    text-align: center;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: 400;
  }

  .navbar_invite_button {
    display: none;
  }
}
